/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

body {
  font-family: 'Roboto', sans-serif;
  background: #f0f2f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* loader */
.spinner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.spinner::before, .spinner::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.spinner::before {
  width: 80px;
  height: 80px;
  border: 8px solid rgba(4, 255, 201, 0.775);
  border-top-color: #6e8efb;
}

.spinner::after {
  width: 40px;
  height: 40px;
  border: 6px solid rgba(4, 255, 201, 0.775);
  border-top-color: #a777e3;
  animation-duration: 1s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* form button */
.form-btn {
  width: 250px !important;
  margin-top: 30px !important;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #6e8efb 0%, #a777e3 100%);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.form-btn:hover {
  background: linear-gradient(135deg, #a777e3 0%, #6e8efb 100%);
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.form-btn:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
